{% comment %}
  Renders a header search modal. Should be used with 'header.liquid'

  Accepts:
  - input_id: {String} Id for the search input element (required)

  Usage:
  {% render 'header-search', input_id: 'My-Id'%}
{% endcomment %}

<details-modal class="header__search">
  <details>
    <summary
      class="header__icon header__icon--search header__icon--summary link focus-inset modal__toggle"
      aria-haspopup="dialog"
      aria-label="{{ 'general.search.search' | t }}"
    >
      <span>
       <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
<g id="dashicons:cart">
<path id="Vector" d="M9.60016 20.8H24.0002C24.8802 20.8 25.6002 21.52 25.6002 22.4C25.6002 23.28 24.8802 24 24.0002 24H8.00016C7.12016 24 6.40016 23.28 6.40016 22.4V6.39995H3.20016C2.32016 6.39995 1.60016 5.67995 1.60016 4.79995C1.60016 3.91995 2.32016 3.19995 3.20016 3.19995H8.00016C8.88016 3.19995 9.60016 3.91995 9.60016 4.79995V7.99995H30.4002L24.0002 19.2H9.60016V20.8ZM8.80016 25.6C10.1282 25.6 11.2002 26.672 11.2002 28C11.2002 29.328 10.1282 30.4 8.80016 30.4C7.47216 30.4 6.40016 29.328 6.40016 28C6.40016 26.672 7.47216 25.6 8.80016 25.6ZM23.2002 25.6C24.5282 25.6 25.6002 26.672 25.6002 28C25.6002 29.328 24.5282 30.4 23.2002 30.4C21.8722 30.4 20.8002 29.328 20.8002 28C20.8002 26.672 21.8722 25.6 23.2002 25.6Z" fill="white"/>
</g>
</svg>

        <svg class="modal__toggle-close icon icon-close" aria-hidden="true" focusable="false">
          <use href="#icon-close">
        </svg>
      </span>
    </summary>
    <div
      class="search-modal modal__content gradient"
      role="dialog"
      aria-modal="true"
      aria-label="{{ 'general.search.search' | t }}"
    >
      <div class="modal-overlay"></div>
      <div
        class="search-modal__content{% if settings.inputs_shadow_vertical_offset != 0 and settings.inputs_shadow_vertical_offset < 0 %} search-modal__content-top{% else %} search-modal__content-bottom{% endif %}"
        tabindex="-1"
      >
        {%- if settings.predictive_search_enabled -%}
          <predictive-search class="search-modal__form" data-loading-text="{{ 'accessibility.loading' | t }}">
        {%- else -%}
          <search-form class="search-modal__form">
        {%- endif -%}
        <form action="{{ routes.search_url }}" method="get" role="search" class="search search-modal__form">
          <div class="field">
            <input
              class="search__input field__input"
              id="{{ input_id }}"
              type="search"
              name="q"
              value="{{ search.terms | escape }}"
              placeholder="{{ 'general.search.search' | t }}"
              {%- if settings.predictive_search_enabled -%}
                role="combobox"
                aria-expanded="false"
                aria-owns="predictive-search-results"
                aria-controls="predictive-search-results"
                aria-haspopup="listbox"
                aria-autocomplete="list"
                autocorrect="off"
                autocomplete="off"
                autocapitalize="off"
                spellcheck="false"
              {%- endif -%}
            >
            <label class="field__label" for="{{ input_id }}">{{ 'general.search.search' | t }}</label>
            <input type="hidden" name="options[prefix]" value="last">
            <button
              type="reset"
              class="reset__button field__button{% if search.terms == blank %} hidden{% endif %}"
              aria-label="{{ 'general.search.reset' | t }}"
            >
              <svg class="icon icon-close" aria-hidden="true" focusable="false">
                <use xlink:href="#icon-reset">
              </svg>

              
            </button>
            <button class="search__button field__button" aria-label="{{ 'general.search.search' | t }}">

            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
<g id="dashicons:cart">
<path id="Vector" d="M9.60016 20.8H24.0002C24.8802 20.8 25.6002 21.52 25.6002 22.4C25.6002 23.28 24.8802 24 24.0002 24H8.00016C7.12016 24 6.40016 23.28 6.40016 22.4V6.39995H3.20016C2.32016 6.39995 1.60016 5.67995 1.60016 4.79995C1.60016 3.91995 2.32016 3.19995 3.20016 3.19995H8.00016C8.88016 3.19995 9.60016 3.91995 9.60016 4.79995V7.99995H30.4002L24.0002 19.2H9.60016V20.8ZM8.80016 25.6C10.1282 25.6 11.2002 26.672 11.2002 28C11.2002 29.328 10.1282 30.4 8.80016 30.4C7.47216 30.4 6.40016 29.328 6.40016 28C6.40016 26.672 7.47216 25.6 8.80016 25.6ZM23.2002 25.6C24.5282 25.6 25.6002 26.672 25.6002 28C25.6002 29.328 24.5282 30.4 23.2002 30.4C21.8722 30.4 20.8002 29.328 20.8002 28C20.8002 26.672 21.8722 25.6 23.2002 25.6Z" fill="white"/>
</g>
</svg>


              <svg class="icon icon-search" aria-hidden="true" focusable="false">
                <use href="#icon-search">

                <path id="Vector" d="M9.60016 20.8H24.0002C24.8802 20.8 25.6002 21.52 25.6002 22.4C25.6002 23.28 24.8802 24 24.0002 24H8.00016C7.12016 24 6.40016 23.28 6.40016 22.4V6.39995H3.20016C2.32016 6.39995 1.60016 5.67995 1.60016 4.79995C1.60016 3.91995 2.32016 3.19995 3.20016 3.19995H8.00016C8.88016 3.19995 9.60016 3.91995 9.60016 4.79995V7.99995H30.4002L24.0002 19.2H9.60016V20.8ZM8.80016 25.6C10.1282 25.6 11.2002 26.672 11.2002 28C11.2002 29.328 10.1282 30.4 8.80016 30.4C7.47216 30.4 6.40016 29.328 6.40016 28C6.40016 26.672 7.47216 25.6 8.80016 25.6ZM23.2002 25.6C24.5282 25.6 25.6002 26.672 25.6002 28C25.6002 29.328 24.5282 30.4 23.2002 30.4C21.8722 30.4 20.8002 29.328 20.8002 28C20.8002 26.672 21.8722 25.6 23.2002 25.6Z" fill="white"/>

                
              </svg>
            </button>
          </div>

          {%- if settings.predictive_search_enabled -%}
            <div class="predictive-search predictive-search--header" tabindex="-1" data-predictive-search>
              {%- render 'loading-spinner', class: 'predictive-search__loading-state' -%}
            </div>

            <span class="predictive-search-status visually-hidden" role="status" aria-hidden="true"></span>
          {%- endif -%}
        </form>
        {%- if settings.predictive_search_enabled -%}
          </predictive-search>
        {%- else -%}
          </search-form>
        {%- endif -%}
        <button
          type="button"
          class="search-modal__close-button modal__close-button link link--text focus-inset"
          aria-label="{{ 'accessibility.close' | t }}"
        >
          <svg class="icon icon-close" aria-hidden="true" focusable="false">
            <use href="#icon-close">
          </svg>
        </button>
      </div>
    </div>
  </details>
</details-modal>
