{{ 'section-powerslider.css' | asset_url | stylesheet_tag }}



{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }


    .section-{{ section.id }}-image-width-text__background-image{
    

  
 background: url('{{section.settings.background_image | img_url: 'master' }}' );

 background-color:{{ section.settings.background_image_color }} ;

 background-position: top {{ section.settings.background_image_alignment }}, left bottom;
    
    


}


{%- endstyle -%}

<div class="page-width page-width--narrow section-{{ section.id }}-padding section-{{ section.id }}-image-width-text__background-image">
 
  <div class="rte{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
    {{ page.content }}
  </div>


</div>




{% schema %}
{
  "name": "Power Slider",
  "tag": "section",
  "class": "section",
    "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    },


    

     {
      "type": "image_picker",
      "id": "background_image",
      "label": "Bakground Image"
    },

     {
      "type": "range",
      "id": "background_image_size",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "%",
      "label": "Background Size",
      "default": 50
    },

     {
      "type": "select",
      "id": "background_image_align",
      "options": [
        {
          "value": "left",
          "label": "Show background on Right Side"
        },
        
        {
          "value": "right",
          "label": "Show background on Left Side"
        }
      ],
      "default": "left",
      "label": "Background Image Alignment"
    },



      {
  "type": "color",
  "id": "background_image_color",
  "label": "Slider Background Color",
  "default": "#161616"
},
    

 {
      "type": "select",
      "id": "background_image_alignment",
      "options": [
        {
          "value": "left",
          "label": "Background Image Left"
        },
        {
          "value": "center",
          "label": "Background Image Center"
        },
        {
          "value": "right",
          "label": "Background Image right"
        }
      ],
      "default": "left",
      "label": "t:sections.image-with-text.settings.desktop_content_alignment.label"
    }
    



  ]
  ,
    "presets": [
    {
      "name": "POWER SLIDER"
  
    }
  ]
}
{% endschema %}

