{{ 'section-image-banner.css' | asset_url | stylesheet_tag }}

{%- if section.settings.image_height == 'adapt' and section.settings.image != blank -%}
  {%- style -%}
    @media screen and (max-width: 749px) {
      #Banner-{{ section.id }}::before,
      #Banner-{{ section.id }} .banner__media::before,
      #Banner-{{ section.id }}:not(.banner--mobile-bottom) .banner__content::before {
        padding-bottom: {{ 1 | divided_by: section.settings.image.aspect_ratio | times: 100 }}%;
        content: '';
        display: block;
      }
    }

    @media screen and (min-width: 750px) {
      #Banner-{{ section.id }}::before,
      #Banner-{{ section.id }} .banner__media::before {
        padding-bottom: {{ 1 | divided_by: section.settings.image.aspect_ratio | times: 100 }}%;
        content: '';
        display: block;
      }
    }
  {%- endstyle -%}
{%- endif -%}

{%- style -%}
 



  
{%- endstyle -%}


<div
  id="Banner-{{ section.id }}"
  class="{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}
    
      color-{{ section.settings.color_scheme }}  position-relative
    
    "
>


<div class="page-width full-width d-flex justify-content-end overflow-hidden">

<seciton class="image-gallery">

<div class="grid product-grid contains-card contains-card--product contains-card--standard grid--4-col-desktop grid--2-col-tablet-down ">


<div class="grid__item  slider first-slider">
   {{ 'Rectangle_27_1.png' |  file_url |  img_tag   }}

   {{ 'Rectangle_25.png' |  file_url |  img_tag   }}

   {{ 'Rectangle_23.png' |  file_url |  img_tag   }}

   {{ 'Rectangle_26.png' |  file_url |  img_tag   }}
   {{ 'Rectangle_24_1.png' |  file_url |  img_tag   }}

      {{ 'Rectangle_22_1.png' |  file_url |  img_tag   }}


   
</div>

<div class="grid__item   slider second-slider"> 
  
 {{ 'Rectangle_27_1.png' |  file_url |  img_tag   }}

   {{ 'Rectangle_25.png' |  file_url |  img_tag   }}

   {{ 'Rectangle_23.png' |  file_url |  img_tag   }}

   {{ 'Rectangle_26.png' |  file_url |  img_tag   }}
   {{ 'Rectangle_24_1.png' |  file_url |  img_tag   }}

      {{ 'Rectangle_22_1.png' |  file_url |  img_tag   }}
 

</div>

<div class="grid__item   slider third-slider"> 
    
      {{ 'Rectangle_27_1.png' |  file_url |  img_tag   }}

   {{ 'Rectangle_25.png' |  file_url |  img_tag   }}

   {{ 'Rectangle_23.png' |  file_url |  img_tag   }}

   {{ 'Rectangle_26.png' |  file_url |  img_tag   }}
   {{ 'Rectangle_24_1.png' |  file_url |  img_tag   }}

      {{ 'Rectangle_22_1.png' |  file_url |  img_tag   }}


</div>

<div class="grid__item  slider fourth-slider"> 
     {{ 'Rectangle_27_1.png' |  file_url |  img_tag   }}

   {{ 'Rectangle_25.png' |  file_url |  img_tag   }}

   {{ 'Rectangle_23.png' |  file_url |  img_tag   }}

   {{ 'Rectangle_26.png' |  file_url |  img_tag   }}
   {{ 'Rectangle_24_1.png' |  file_url |  img_tag   }}

      {{ 'Rectangle_22_1.png' |  file_url |  img_tag   }}


</div>



</div>

</seciton>


<div class="super-human-card super-human-absolute">
<h1 class="heading-style-2  ">Join the<br>
SUPER<br>
Squad </h1>
<p class="super-human-card__content">We’re recruiting the worlds greatest, are you one of them?</p>

 {% form 'customer', class: 'newsletter-form superhumn-form' %}
                <input type="hidden" name="contact[tags]" value="newsletter">
                <div class="newsletter-form__field-wrapper">
                  <div class="field superhumn-field">
                    <input
                      id="NewsletterForm--{{ section.id }}"
                      type="email"
                      name="contact[email]"
                      class="field__input_superhumn"
                      value="{{ form.email }}"
                      aria-required="true"
                      autocorrect="off"
                      autocapitalize="off"
                      autocomplete="email"
                      {% if form.errors %}
                        autofocus
                        aria-invalid="true"
                        aria-describedby="Newsletter-error--{{ section.id }}"
                      {% elsif form.posted_successfully? %}
                        aria-describedby="Newsletter-success--{{ section.id }}"
                      {% endif %}                     
                      required
                    >
                    
                    <label class="field__label field__label_supter" for="NewsletterForm--{{ section.id }}">
                      {{ 'email-1.svg' |  file_url |  img_tag}}
                    </label>
                    <button
                      type="submit"
                      class="newsletter-form__button field__button"
                      name="commit"
                      id="Subscribe"
                      aria-label="{{ 'newsletter.button_label' | t }}"
                    >
                     {{ 'Arrow_right.svg' |  file_url |  img_tag}}
                    </button>
                  </div>
                  {%- if form.errors -%}
                    <small class="newsletter-form__message form__message" id="Newsletter-error--{{ section.id }}">
                      {%- render 'icon-error' -%}
                      {{- form.errors.translated_fields.email | capitalize }}
                      {{ form.errors.messages.email -}}
                    </small>
                  {%- endif -%}
                </div>
                {%- if form.posted_successfully? -%}
                  <h3
                    class="newsletter-form__message newsletter-form__message--success form__message"
                    id="Newsletter-success--{{ section.id }}"
                    tabindex="-1"
                    autofocus
                  >
                    {% render 'icon-success' -%}
                    {{- 'newsletter.success' | t }}
                  </h3>
                {%- endif -%}
              {% endform %}



</div>



</div>




</div>


{% schema %}
{
  "name": "SUPERHUMN IMAGE SCROLLER",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [

  {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    }
   
  ],
  "blocks": [
    
  ],
  "presets": [
    {
      "name": "SUPERHUMN SCROLLER IMAGE SECTION"
  
    }
  ]
}
{% endschema %}
