{%- style -%}
.full-screen {
    height: 100vh;
    width: 100%;
}

#banner-Image-{{ section.id }} {
    background: url({{ section.settings.image| image_url: width: 3840 }});
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.superhumn-banner__content {
    position: absolute;
    top: calc(50% + 60px);
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.pos-50 {
    position: relative;
    top: -35px;
}

/* Custom Button */
.custom{{ section.id }}-button {
    background-color: {{ section.settings.button_color_border | escape }};
    color: #fff;
}

.custom{{ section.id }}-button .layer-1 {
    width: calc(100% - 6px);
    height: calc(100% - 6px);
    background: #0E0E0E;
}

.custom{{ section.id }}-button .layer-2 {
    background: {{ section.settings.button_color | escape }};
}

.custom{{ section.id }}-button:after {
    content: "";
    height: 3px;
    background: {{ section.settings.button_color | escape }};
    top: 0px;
    outline: none;
    box-shadow: none;
}

@media(max-width: 1000px) {
    .pos-50 {
        top: 0;
    }
}



@media(max-width:768px){
  
#banner-Image-{{ section.id }} {
    background: url({{ section.settings.mob_image| image_url: width: 3840 }});
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

}

.superhumn-banner__content img {
      max-width: 700px;
    width: 100%;
    height: auto;
    padding: 0 20px;
}
{%- endstyle -%}

{%- if section.settings.image != blank -%}
<div class="superhumn-banner full-screen BannerID-{{ section.id }} {% if section.settings.image_behavior != 'none' %} animate--{{ section.settings.image_behavior }}{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}" id="banner-Image-{{ section.id }}">
    <div class="superhumn-banner__content text-center">
        {%- if section.settings.image_2 != blank -%}
        {{
        section.settings.image_2
        | image_url: width: 2000
        | image_tag
        }}
        {% else %}
        <div class="center-box-content center text-center">
            <h2 class="titleEffectStrock">ENTER THE</h2>
            <h1 class="title highlight">SUPER</h1>
            <div class="animation-strock-effect position-relative">
                <h3 class="h2 titleEffectStrock">DIMENSION</h3>
                <h3 class="h2 titleEffectStrock">DIMENSION</h3>
                <h3 class="h2 titleEffectStrock">DIMENSION</h3>
            </div>
        </div>
        {% endif %}
        {%- if section.settings.button_label != blank -%}
        <a {% if section.settings.button_link == blank %}role="link" aria-disabled="true"{% else %}href="{{ section.settings.button_link }}"{% endif %} class="pos-50 btn text-uppercase position-relative button{% if section.settings.button_style_secondary %} button--secondary{% else %} button--primary{% endif %} custom{{ section.id }}-button">
            <span class="layer-1 ">
                <span class="layer-2 text-center">{{ section.settings.button_label | escape }}</span>
            </span>
        </a>
        {%- endif -%}
    </div>
</div>
{%- endif -%}


  

{% schema %}
{
  "name": "New Image Bannner",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.image-banner.settings.image.label"
    },
    {
      "type": "image_picker",
      "id": "image_2",
      "label": "t:sections.image-banner.settings.image_2.label"
    },

     {
      "type": "image_picker",
      "id": "mob_image",
      "label": "Mobile Banner"
    },

    


     {
          "type": "text",
          "id": "button_label",
          "default": "Button label",
          "label": "t:sections.image-with-text.blocks.button.settings.button_label.label",
          "info": "t:sections.image-with-text.blocks.button.settings.button_label.info"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "t:sections.image-with-text.blocks.button.settings.button_link.label"
        },
        {
          "type": "checkbox",
          "id": "button_style_secondary",
          "default": false,
          "label": "t:sections.image-with-text.blocks.button.settings.outline_button.label"
        },

       {
  "type": "color",
  "id": "button_color",
  "label": "Button Color",
  "default": "#836BEA"
},

  {
  "type": "color",
  "id": "button_color_border",
  "label": "Button Color Border",
  "default": "#836BEA"
},
    {
      "type": "range",
      "id": "image_overlay_opacity",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "t:sections.image-banner.settings.image_overlay_opacity.label",
      "default": 0
    }
  ],
 
  "presets": [
    {
      "name": "New Image Bannner"
     
    }
  ]
}
{% endschema %}
