{%- style -%}

.full-screen { height:100vh;  width:100%}


  #banner-Image-{{ section.id }}{

        background:url({{  section.settings.image| image_url: width: 3840 }});
        background-repeat:no-repeat;
        background-position:center;
        background-size: cover;

  }

.superhumn-banner__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width:100%;
      display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.pos-50{
    position:relative;
    top:-50px;
}

.superhumn-banner__content img{ max-width:1000px; width:100%;     height: auto;}

{%- endstyle -%}








  {%- if section.settings.image != blank -%}


  <div class="superhumn-banner full-screen BannerID-{{ section.id }} {% if section.settings.image_behavior != 'none' %} animate--{{ section.settings.image_behavior }}{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}"
        
        id="banner-Image-{{ section.id }}"
        
        >



<div class="superhumn-banner__content text-center">


  {%- if section.settings.image_2 != blank -%}
 

 {{
        section.settings.image_2
        | image_url: width: 2000
        | image_tag
      }}


{% else %}

    
<div class="center-box-content center text-center">

<h2 class="titleEffectStrock">ENTER THE</h2>

<h1 class="title highlight">SUPER</h1>

<div class="animation-strock-effect position-relative">
      
    <h3 class="h2 titleEffectStrock">DIMENSION</h3>
    <h3 class="h2 titleEffectStrock">DIMENSION</h3>
    <h3 class="h2 titleEffectStrock">DIMENSION</h3>
  
  </div>


</div>


{% endif %}



<a href="#" class="btn text-uppercase position-relative pos-50">

<span class="layer-1 ">

<span class="layer-2 ">

Activate
</span>
</span>
</a>





</div>

  
     
     
    </div>

  {%- endif -%}



  

{% schema %}
{
  "name": "New Image Bannner",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.image-banner.settings.image.label"
    },
    {
      "type": "image_picker",
      "id": "image_2",
      "label": "t:sections.image-banner.settings.image_2.label"
    },
    {
      "type": "range",
      "id": "image_overlay_opacity",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "t:sections.image-banner.settings.image_overlay_opacity.label",
      "default": 0
    }
  ],
 
  "presets": [
    {
      "name": "New Image Bannner"
     
    }
  ]
}
{% endschema %}
