{{ 'section-powerslider.css' | asset_url | stylesheet_tag }}



{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }


    .section-{{ section.id }}-image-width-text__background-image{
    

  
 background: url('{{section.settings.background_image | img_url: 'master' }}');

 background-color:{{ section.settings.background_image_color }} ;

     background-repeat: no-repeat;
    background-size: 82%;
    background-position: center;

    
    


}


.power-slider{
  margin-top:160px;
}

.arrow{
  display:flex;
  align-items:center;
}

.sprite{
  position:absolute;
}

.sprite-1{top: 92px;
  left: 63px;}


.sprite-2{bottom: 92px;
  left: 63px;}

.sprite-3{ right:63px; top: 92px;}

.sprite-4{right:63px; bottom: 92px;}


.custom-dots-container {
  display: flex;
  justify-content: center;
 
}

.custom-dot {
  width: 30px;
  height: 30px;
  display:block!important;
 
  margin: 0 5px;
  cursor: pointer;
  background:url({{ 'dot.svg' |  asset_url }});
  background-repeat:no-repeat;
  background-position:center;
}

.custom-dot.active {
   
  background:url({{ 'dot-active.svg' |  asset_url }})!important;
      background-repeat: no-repeat !important;
    background-position: center !important;
   
}




{%- endstyle -%}

<section class="position-relative section-{{ section.id }}-padding section-{{ section.id }}-image-width-text__background-image">

<div class="page-width ">
 
  <div class="rte{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
   

    {% if section.settings.heading_title %}
    <h1 class= "h0 text-center title">
      {{section.settings.heading_title}}
    </h1>
<div class="block-v2">
    <div class="animation-strock-effect position-relative title">
                    <span class="h1 titleEffectStrock m-0 d-block"> <span class="effectText"> {{section.settings.heading_title}}</span> </span>
                    <span class="h1 titleEffectStrock m-0 d-block"> <span class="effectText">{{section.settings.heading_title}} </span> </span>
                  
                  </div>
</div>

    {% endif %}


    <ul class="power-slider">

  {%- for block in section.blocks -%}

   

    
        <li  {{ block.shopify_attributes }} >

        <div class="slider">


 {% if block.settings.image %}
         <div class="slider__img">

 {{ block.settings.image  | img_url: 'master' | img_tag }}

</div>

    {% endif %}



    {% comment %}
      If want to rorate
    style="transform:rotate({{ block.settings.rotate_desc }}deg);"
    {% endcomment %}

          <div class="slider__text " style="background:{{ block.settings.testi_svg_BG }}; border-color:{{ block.settings.testi_svg_Strock_BG }}" >
{% if block.settings.title %}
          <h3>{{ block.settings.title  }}</h3>
  {% endif %}
{% if block.settings.text %}
{{  block.settings.text  }}
  {% endif %}

          </div>



        </div>


        {% if block.settings.link %}
          <a href="{{ block.settings.link }}" class="link-streched"></a>
  {% endif %}




        </li>


  {% endfor %}
    

    </ul>

    

        <div class="navigation power-navigation">

                <a href="#" class="arrow" id="moveLeft"><img src="{{ 'arrow.svg' | file_url }}"></a>

               
               
                <div class="custom-dots-container">
  <!-- Custom dots will be added dynamically here -->
</div>


                   
       

         




 

        

                <a href="#" class="arrow"  id="moveRight"><img src="{{ 'arrow.svg' | file_url }}"></a>

             </div>

    
  </div>


</div>



<span class="sprite sprite-1">
<div>
{{'Vector_4.svg' |  file_url |  img_tag }}
</div>
<div>
{{'Layer_9.svg' |  file_url |  img_tag }}

</div>

</span>
<span class="sprite sprite-2">
{{'THIS_IS_WHAT_THEY_SAY_1.svg' |  file_url |  img_tag }}

</span>
<span class="sprite sprite-3">
  {{'A_THOUSAND_EATERSCAN_T_BE_WRONG.svg' |  file_url |  img_tag }}
</span>
<span class="sprite sprite-4">
 {{'Vector_5.svg' |  file_url |  img_tag }}


</span>


</section>

{% comment %}
  {
      "type": "range",
      "id": "rotate_desc",
      "min": 1,
      "max": 10,
      "step": 1,
      "default": 0,
      "label": "Rotate Description"
    }
{% endcomment %}


{% schema %}
{
  "name": "Power Slider",
  "tag": "section",
  "class": "section",
    "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },

  

    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 300,
      "step": 12,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 300,
      "step": 12,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    },

  {
          "type": "inline_richtext",
          "id": "heading_title",
          "default": "Title",
          "label": "Title"
        },
    

     {
      "type": "image_picker",
      "id": "background_image",
      "label": "Bakground Image"
    },

    

    

      {
  "type": "color",
  "id": "background_image_color",
  "label": "Slider Background Color",
  "default": "#161616"
}
    



  ],

   "blocks": [
    {
      "type": "column",
      "name": "t:sections.multicolumn.blocks.column.name",
      "settings": [
       
           

        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.multicolumn.blocks.column.settings.image.label"
        },

            {
  "type": "color",
  "id": "testi_svg_BG",
  "label": "Testimonials color",
  "default": "#352212"
},

   {
  "type": "color",
  "id": "testi_svg_Strock_BG",
  "label": "Strock color",
  "default": "#FF7A00"
},


        
        {
          "type": "inline_richtext",
          "id": "title",
          "default": "slider",
          "label": "slider"
        },
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Post Text</p>",
          "label": "Description text"
        },
        
        {
          "type": "url",
          "id": "link",
          "label": "t:sections.multicolumn.blocks.column.settings.link.label"
        }       


      ]
    }
  ],

  
    "presets": [
    {
      "name": "POWER SLIDER",
      "blocks": [
        {
          "type": "column"
        },
        {
          "type": "column"
        },
        {
          "type": "column"
        }
      ]
  
    }
  ]
}
{% endschema %}

